{{ log.debug("Rendering " + enum_member.path) }}

<div class="doc doc-object doc-enum_member">
  {% with obj = enum_member, html_id = enum_member.path %}

    {% if root %}
      {% set show_full_path = config.show_root_full_path %}
      {% set root_members = True %}
    {% elif root_members %}
      {% set show_full_path = config.show_root_members_full_path or config.show_object_full_path %}
      {% set root_members = False %}
    {% else %}
      {% set show_full_path = config.show_object_full_path %}
    {% endif %}

    {% set enum_member_name = enum_member.path if show_full_path else enum_member.name %}

    {% if not root or config.show_root_heading %}
      {% filter heading(
          heading_level,
          role="enum_member",
          id=html_id,
          class="doc doc-heading",
          toc_label=('<code class="doc-symbol doc-symbol-toc doc-symbol-ts-enum_member"></code>&nbsp;'|safe if config.show_symbol_type_toc else '') + enum_member.name,
      ) %}

        {% block heading scoped %}
          {% if config.show_symbol_type_heading %}<code class="doc-symbol doc-symbol-heading doc-symbol-ts-enum_member"></code>{% endif %}
          {% if config.separate_signature %}
            <span class="doc doc-object-name doc-enum_member-name">{{ enum_member_name }}</span>
          {% else %}
            <code>{{ enum_member_name }}</code>
          {% endif %}
        {% endblock heading %}

      {% endfilter %}

    {% else %}
      {% if config.show_root_toc_entry %}
        {% filter heading(heading_level,
            role="enum_member",
            id=html_id,
            toc_label=('<code class="doc-symbol doc-symbol-toc doc-symbol-ts-enum_member"></code>&nbsp;'|safe if config.show_symbol_type_toc else '') + enum_member.name,
            hidden=True,
        ) %}
        {% endfilter %}
      {% endif %}
      {% set heading_level = heading_level - 1 %}
    {% endif %}

    <div class="doc doc-contents {% if root %}first{% endif %}">
      {% block contents scoped %}
        {% block docstring scoped %}
          {% if enum_member.comment %}
            {{ enum_member.comment.markdown(symbol_map=enum_member.symbol_map)|convert_markdown(heading_level, html_id) }}
          {% endif %}
        {% endblock docstring %}
      {% endblock contents %}
    </div>

  {% endwith %}
</div>
