{{ log.debug("Rendering " + type.path) }}

<div class="doc doc-object doc-type">
  {% with obj = type, html_id = type.path %}

    {% if root %}
      {% set show_full_path = config.show_root_full_path %}
      {% set root_members = True %}
    {% elif root_members %}
      {% set show_full_path = config.show_root_members_full_path or config.show_object_full_path %}
      {% set root_members = False %}
    {% else %}
      {% set show_full_path = config.show_object_full_path %}
    {% endif %}

    {% set type_name = type.path if show_full_path else type.name %}

    {% if not root or config.show_root_heading %}
      {% filter heading(
          heading_level,
          role="type",
          id=html_id,
          class="doc doc-heading",
          toc_label=('<code class="doc-symbol doc-symbol-toc doc-symbol-ts-type"></code>&nbsp;'|safe if config.show_symbol_type_toc else '') + type.name,
      ) %}

        {% block heading scoped %}
          {% if config.show_symbol_type_heading %}<code class="doc-symbol doc-symbol-heading doc-symbol-ts-type"></code>{% endif %}
          <code>{{ type_name }}</code>
        {% endblock heading %}

      {% endfilter %}

    {% else %}
      {% if config.show_root_toc_entry %}
        {% filter heading(heading_level,
            role="type",
            id=html_id,
            toc_label=('<code class="doc-symbol doc-symbol-toc doc-symbol-ts-type"></code>&nbsp;'|safe if config.show_symbol_type_toc else '') + type.name,
            hidden=True,
        ) %}
        {% endfilter %}
      {% endif %}
      {% set heading_level = heading_level - 1 %}
    {% endif %}

    <div class="doc doc-contents {% if root %}first{% endif %}">
      {% block contents scoped %}
        {% block docstring scoped %}
          {% if type.comment %}
            {{ type.comment.markdown(symbol_map=type.symbol_map)|convert_markdown(heading_level, html_id) }}
          {% endif %}
        {% endblock docstring %}
        {% block children scoped %}
          {% set root = False %}
          {% set heading_level = heading_level + 1 %}
          {% include "children.html.jinja" with context %}
        {% endblock children %}
      {% endblock contents %}
    </div>
  {% endwith %}
</div>
